/* Fig. 4.7: Fig_4.7-4.8_estilos.css */
/* Hoja de estilo externa */
body     { font-family: arial, helvetica, sans-serif; }
a.nodec  { text-decoration: none; }
a:hover  { text-decoration: underline; }
li em    { font-weight: bold; }
h1, em   { text-decoration: underline; }
ul       { margin-left: 20px; }
ul ul    { font-size: .8em; }


/*************************************************************************
* (C) Copyright 1992-2012 by Deitel & Associates, Inc. and               *
* Pearson Education, Inc. All Rights Reserved.                           *
*                                                                        *
* AVISO LEGAL: los autores y la editorial de este libro han hecho su     *
* mejor esfuerzo al prepararlo. Dicho esfuerzo incluye el desarrollo,    *
* la investigación y las pruebas de las teorías y los programas para     *
* determinar su efectividad. Los autores y la editorial no ofrecen       *
* ninguna garantía de ningún tipo, expresa o implícita, respecto de      *
* estos programas ni de la documentación contenida en estos libros. Los  *
* autores y la editorial no serán responsables en ningún caso por daños  *
* incidentales o consecuentes relacionados con, o derivados de, el       *
* suministro, el desempeño o el uso de estos programas.                  *
*************************************************************************/
